.auth-footer {
  @include tablet-small {
    display: flex;
    justify-content: center;
    padding: 19rem 121rem 10rem;
  }

  &__txt {
    color: $Accent-2;
    font-family: var(--ff);
    font: $Text-1;
    font-style: italic;
    line-height: 20rem;

    @include tablet-small {
      display: none;
    }
  }

  &__line {
    display: none;

    @include tablet-small {
      display: inherit;
      min-width: 134rem;
      max-width: 134rem;
      width: 134rem;
      width: 100%;
      height: 5rem;
      border-radius: 2.5px;
      background: $c-Headline;
    }
  }
}
