.auth-header {
  display: flex;
  align-items: center;
  gap: 12rem;
  text-decoration: none;
  transition: $transition;

  &:hover {
    transform: scaleY(1.1);
  }

  @include tablet-small {
    flex-direction: column;
    justify-content: center;
    padding-top: 88rem;
  }

  &__logo {
    max-width: 32rem;
    max-height: 32rem;

    & img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__text {
    color: $black;
    font-size: 16rem;
    font-weight: 500;
    letter-spacing: 0.16rem;
  }
}
